<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Lumino - Dashboard</title>
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/admin/css/datepicker3.css" rel="stylesheet">
    <link href="~/admin/css/styles.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Food Ordering</span>Admin</a>
                <ul class="nav navbar-top-links navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <em class="fa fa-user-circle"></em>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="@Url.Action("ChangePassword","Account")">
                                    <div>
                                        <em class="fa fa-user-secret"></em>Change Password

                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Logout","Account")">
                                    <div>
                                        <em class="fa fa-sign-out"></em>Logout

                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">Username</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>

        <ul class="nav menu">
            <li class="active"><a href="@Url.Action("DashBoard","Admin")"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li><a href="@Url.Action("ManageSubMenu","SubMenu")"><em class="fa fa-building">&nbsp;</em> Manage Category</a></li>
            <li><a href="widgets.html"><em class="fa fa-address-card">&nbsp;</em> Manage SubMenu</a></li>
            <li><a href="@Url.Action("ManageItem","Item")"><em class="fa fa-address-book">&nbsp;</em> Manage Item</a></li>
            <li><a href="@Url.Action("ManageOrder","Order")"><em class="fa fa-book">&nbsp;</em> Manage Order</a></li>
            <li><a href="@Url.Action("ManageUser","AdminUser")"><em class="fa fa-user-circle">&nbsp;</em>Manage User</a></li>
            <li><a href="login.html"><em class="fa fa-paste">&nbsp;</em> View Feedback</a></li>
            <li><a href="@Url.Action("ChangePassword","Account")"><em class="fa fa-user-secret">&nbsp;</em>Change Password</a></li>
            <li><a href="@Url.Action("Logout","Account")"><em class="fa fa-power-off">&nbsp;</em>Logout</a></li>


        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">



        @RenderBody()



        <div class="row">

            <div class="col-sm-12">
                <p class="back-link">Puskar Timalsina <a href="#">Food Ordering System</a></p>
            </div>
        </div><!--/.row-->
    </div>	<!--/.main-->

    <script src="~/admin/js/jquery-1.11.1.min.js"></script>
    <script src="~/admin/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/js/chart.min.js"></script>
    <script src="~/admin/js/chart-data.js"></script>
    <script src="~/admin/js/easypiechart.js"></script>
    <script src="~/admin/js/easypiechart-data.js"></script>
    <script src="~/admin/js/bootstrap-datepicker.js"></script>
    <script src="~/admin/js/custom.js"></script>
    <script src="~/js/jquery-ui-1.12.1.min.js"></script>
    <script src="~/js/notify.min.js"></script>
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
        };</script>

    @RenderSection("scripts", required: false)

</body>

</html>
