@model OnlineFoodOrderingSystem.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Forget Password</h3>
        <h4><a href="@Url.Action("Index","Home")">Home</a><label>/</label>Forget Password</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Forget Password</h3>
            @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeHolder = "Enter Email" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            <button class="btn btn-info">Send Password</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">

                        </div>
                    </div>




                </div>

            }
        </div>
        <div class="forg">

            <a href="@Url.Action("Signup","Home")" class="forg-right">Register</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
